main {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  p a {
    font-weight: 600;
    color: rgb(204, 204, 204);

    &:hover {
      color: initial;
    }
  }
}

.CustomCursor {
  cursor: none !important;
}
