@import "../assets/font/fonts.css";

html {
  font-family: "GT Super";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  /* padding: 0 1vw; */
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
